<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
    />

    </head>
    <body>
      <button id="modalButton" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
      Thông báo nguy hiểm
  </button>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title;" style="color: red; text-align: center; font-weight: bold" id="exampleModalLongTitle">Danh sách bệnh nhân cần cấp cứu gấp!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <!-- <p>Bệnh nhân: Nguyễn Văn A, sinh năm: 2000, địa chỉ: bla bla, tình trạng: bruh bruh</p><br>
                  <p>Bệnh nhân: Nguyễn Văn B, sinh năm: 1997, địa chỉ: lmao lmao, tình trạng: dark dark</p><br> -->
                  <div id="map"></div>


              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
      <!-- Replace YOUR_API_KEY here by your key above -->
      <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS6lGj7CsMDE5O9bMEf3I3anmfn34OBlA&callback=initMap" async defer></script>
      <script>
      function initMap() {
            var map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 21.0168864, lng: 105.7855574 },
            zoom: 15
            });
            }

      </script> -->

    <!-- Include the socket.io client library -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var user = '<%=user.id%>';
        let count = 0;
        function setFlag(){
            count = 0;
        }
        const socket = io.connect();
        socket.emit("user connected", {user: user})
        socket.on("receive",function({name, time, location}){
            //console.log(cvs);
            // console.log("lalala",messages);

            //phát ra âm thanh thông báo

            //đường dẫn tới file messenger_sound.mp3

            var notificationSound = new Audio('/sound/messenger_sound.mp3');
            notificationSound.play();


            //hiển thị thông báo cho bác sĩ
            var html = `<div>
            Bệnh nhân: ${name}, Lúc: ${time}, tại tọa độ (${location.latitude}, ${location.longitude}) đang gặp nguy hiểm
            </div></div></br>`
            var notification = document.createElement('noti');
            notification.innerHTML = html;
            var modalBody = document.querySelector(".modal-body")
            modalBody.insertBefore(notification, modalBody.firstChild) //message{id, per1, per2, conversation}

            //làm cho modal auto mở ra khi có thông báo
            var modalButton = document.querySelector("#modalButton")

            if(!document.querySelector(".modal").classList.contains("show")){
                console.log(count)
                modalButton.click();
                count++;
            }
        })
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
    ></script>


    </body>
</html>
